<template>
  <footer>

        <div class="container-fluid bg-primary text-light footer">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                @Copyright 2019 By Febriansyah
              </div>
            </div>
          </div>
        </div>

  </footer>
</template>

<script>
export default {
  data () {
    return {
      //
    }
  },
  methods: {
    //
  }
}
</script>

<style scoped>
  .footer{
    padding:15px;
    margin-top:15px;
  }
</style>
