<template>
  <header>
    <nav class="navbar navbar-expand-md bg-primary navbar-dark shadow">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="/">{{title}}</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item" v-for="menu in menus">
            <a class="nav-link" href="/">{{menu}}</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
  </header>
</template>

<script>
export default {
  data () {
    return {
      title: 'Febriansyah',
      menus: ['Home', 'About Me', 'Contact Me']
    }
  },
  methods: {

  }
}
</script>

<style scoped>

</style>
