<template>
  <main>
    <div class="container m-h650">

    <div class="row">
      <div class="container">
        <div class="col-md-12 col-sm-12 text-center text-primary mt25">
          <div v-for="post of posts">
            <div v-if="post.nomor == $route.params.id"><h1><strong>{{post.nama}}</strong></h1></div>
          </div>
          <div v-for="post of posts">
            <div v-if="post.nomor == $route.params.id">
              <audio controls>
                <source v-bind:src="post.audio" type="audio/mpeg">
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

        <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="card shadow mb15">
                  <div class="card-body pd25">
                    <div class="row"><!--AR,ID,NOMOR,TR-->

                    <div class="col-md-12">
                      <div v-for="ayat in ayats">
                        <p class="col-md-9 offset-md-3 text-right">{{ayat.ar}}</p>
                        <p class="col-md-9 offset-md-3 text-right text-info" v-html="ayat.tr"></p>
                        <p class="col-md-9 ">{{ayat.id}}</p>
                        <hr>
                      </div>
                    </div>

                    </div>
                  </div>
              </div>
            </div>
        </div>

    </div>
  </main>
</template>


<script>
import axios from 'axios';

export default {
  data () {
    return {
      posts: [],
      ayats: [],
      search: '',
    }
  },
  methods: {

  },
  created() {
    axios.get('https://al-quran-8d642.firebaseio.com/data.json?print=pretty')
    .then(response => {
      // JSON responses are automatically parsed.
      this.posts = response.data
    })
    axios.get('https://al-quran-8d642.firebaseio.com/surat/'+this.$route.params.id+'.json?print=pretty')
    .then(response => {
      // JSON responses are automatically parsed.
      this.ayats = response.data
    })
  },
  computed: {

  }
}

</script>

<style scoped>
  .mt25{
      margin-top: 25px;
  }
  .mb15{
    margin-bottom: 15px;
  }
  .pd25{
    padding: 25px;
  }
  .m-h650{
    min-height: 650px;
  }
</style>
