<template>
  <main>
    <div class="container m-h650">

      <div class="row">
        <div class="col-md-12 col-sm-12 text-center text-primary mt25"><h1><strong>Al-Quran</strong></h1></div>
        <div class="col-md-12 col-sm-12 text-center mt25">
          <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="search" placeholder="Cari Surat">
          </div>
        </div>
      </div>

        <div class="row">
            <div class="col-md-4 col-sm-12" v-for="post of filteredPosts">
              <a v-bind:href='"surat/"+post.nomor'>
              <div class="card shadow mb15">
                  <div class="card-body pd25">
                    <div class="row">
                      <div class="col-md-6 text-primary">Surat Ke : {{post.nomor}}</div>
                      <div class="col-md-6 text-right"><strong>{{post.asma}}</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">{{post.arti}}</div>
                      <div class="col-md-6 text-right text-primary"><strong>{{post.nama}}</strong></div>
                    </div>
                    </ul>
                  </div>
              </div>
            </a>
            </div>
        </div>

    </div>
  </main>
</template>

<script>
import axios from 'axios';

export default {
  data () {
    return {
      posts: [],
      errors: [],
      search: '',
    }
  },
  methods: {

  },
  created() {
    axios.get('https://al-quran-8d642.firebaseio.com/data.json?print=pretty')
    .then(response => {
      // JSON responses are automatically parsed.
      this.posts = response.data
    })
  },
  computed: {
    filteredPosts: function(){
      return this.posts.filter((post) => {
        return post.nama.toLowerCase().match(this.search)
      });
    }
  }
}

</script>

<style scoped>
  a{
    color: inherit;
    text-decoration: none;
  }
  .mt25{
      margin-top: 25px;
  }
  .mb15{
    margin-bottom: 15px;
  }
  .pd25{
    padding: 25px;
  }
  .m-h650{
    min-height: 650px;
  }
</style>
